<div class="navbar border-b-gray-[#212529] shadow-md">
  <div class="flex-1">
    <img [ngSrc]="logoPath" width="32" height="32" alt="logo"/>
    <a class="btn btn-ghost text-xl" routerLink="">Koding Kombat</a>
  </div>
  <ul class="flex-1 justify-around">
    <li><a routerLink="/fighting" class="nav-item capitalize btn btn-ghost">fighting</a></li>
    <li><a routerLink="/quest" class="nav-item capitalize btn btn-ghost">quest</a></li>
    <li><a routerLink="/leaderboard" class="nav-item capitalize btn btn-ghost">leaderboard</a></li>
    <li><a routerLink="/login" class="nav-item capitalize btn btn-ghost">login / register</a></li>
  </ul>
  @if (isLoggedIn()) {
  <div class="profile flex-none gap-2.5">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
  } @else {
    <div></div>
  }
</div>
