<div
  class="bg-koding-kombat hero min-h-screen">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-white text-center flex flex-col">
    <div class="max-w-3xl text-pretty">
      <h1 class="mb-5 text-7xl font-bold capitalize">Learn how to Code
        with Koding Kombat</h1>
    </div>
    <div class="max-w-md text-lg">
      <p class="mb-5">
        Koding Kombat is a competitive programming game where two users engage in a battle of wits by answering
        challenging programming questions.
      </p>
      <p class="mb-5">Players take turns tackling a series of coding challenges, ranging from algorithmic puzzles to
        debugging
        exercises.</p>
      <div class="flex gap-3 justify-center items-center">
        <button routerLink="/quest" class="btn btn-primary">Try Quest</button>
        <button routerLink="/fighting" class="btn btn-ghost">Try Fighting</button>
      </div>
    </div>
  </div>
</div>
